* {margin: 0px; padding: 0px; box-sizing: border-box;}
ul, ol, li {list-style: none;}
a {text-decoration: none;}


@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300&family=Cormorant+SC&family=Prata&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300&family=Cormorant+SC&family=Prata&family=Yaldevi:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300&family=Montserrat:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300&family=Montserrat:wght@200&family=Raleway:wght@200;300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300&family=Montserrat:wght@200&family=Raleway:wght@200;300&family=Tenor+Sans&display=swap');