@charset "utf-8";
@import "reset";

#header {
    width: 100%;
    border-bottom: 1px solid #fff;
    padding: 50px 0px;
    position: absolute;
    z-index: 2;

    .btnCall {
        display: block;
        position: absolute;
        top: 50%;
        left: 3%;
        transform: translateY(-50%);
        width: 5%;
        height: 100px;
        border-right: 1px solid #fff;
        font-size: 30px;
        line-height: 100px;
        color: #fff;
        
    }

    h1 {
        position: absolute;
        top: 50%;
        left: 11%;
        transform: translateY(-50%);

        a {
            font: 24px/1 'Tenor Sans', sans-serif;
            color: #fff;
            letter-spacing: 2px;
        }
    }
    
        
    .gnb {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        li {
            float: left;
            margin: 0px 30px;
            a {
                font-weight: 300;
                font: 16px/1 'Raleway', sans-serif;
                color: #fff;
                letter-spacing: 2px;
            }
        }
    }
        
    
    .util {
        position: absolute;
        top: 50%;
        right: 11%;
        transform: translateY(-50%);

        &::after {
            content: "";
            display: block;
            clear: both;
        }
    
        li {
            float: left;
            margin: 0px 15px;
            a {
                font-size: 18px;
                color: #fff;
            }
        }
    }
}

#visual {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;

    .bg1 {
        width: 100%;
        height: 100%;
        background: #333;
        flex: 3;
        position: relative;

        .pic1 {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.9;
        }

        #container {
            #circle {
                text {
                    color: #fff;
                    font-family: 'Helvetica Neue', Arial;
                    font-size: 16px;
                    font-weight: bold;
                }
                svg {
                    position: absolute;
                    right: -7%;
                    bottom: 5%;
                    width: 100%;
                    height: 150px;

                    -webkit-animation-name: rotate;
                       -moz-animation-name: rotate;
                        -ms-animation-name: rotate;
                         -o-animation-name: rotate;
                            animation-name: rotate;
                    -webkit-animation-duration: 5s;
                       -moz-animation-duration: 5s;
                        -ms-animation-duration: 5s;
                         -o-animation-duration: 5s;
                            animation-duration: 5s;
                    -webkit-animation-iteration-count: infinite;
                       -moz-animation-iteration-count: infinite;
                        -ms-animation-iteration-count: infinite;
                         -o-animation-iteration-count: infinite;
                            animation-iteration-count: infinite;
                    -webkit-animation-timing-function: linear;
                       -moz-animation-timing-function: linear;
                        -ms-animation-timing-function: linear;
                         -o-animation-timing-function: linear;
                            animation-timing-function: linear;
                }
            }
        }

        h2 {
            font: 55px/1 'Cormorant Infant', serif;
            color: #fff;
            position: absolute;
            top: 50%;
            left: 21%;
            transform: translateY(-50%);
            opacity: 0.8;
        }

        .txt {
            position: absolute;
            top: 50%;
            left: 21%;
            transform: translateY(110%);

            p {
                font: 35px/1 'Cormorant Infant', serif;
                color: #fff;
            }
            span {
                display: block;
                width: 100%;
                text-align: center;
                font: 16px/1 'Montserrat', sans-serif;
                color: #fff;
                margin-top: 35px;
                opacity: 0.7;
            }
        }
    }

    .bg2 {
        width: 100%;
        height: 100%;
        background: #333;
        flex: 1.1;
        position: relative;
        transition: 0.5s;

        .pic2 {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.7;
        }
        
        h2 {
            font: 55px/1 'Cormorant Infant', serif;
            color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0.8;
        }
            
    }

    .bg3 {
        width: 100%;
        height: 100%;
        background: #333;
        flex: 1.7;
        position: relative;
        transition: 0.5s;

        .pic3 {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.8;
        }

        h2 {
            font: 55px/1 'Cormorant Infant', serif;
            color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0.8;
        }
    }
}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(0); }
}

@-moz-keyframes rotate {
    from { -moz-transform: rotate(360deg); }
    to { -moz-transform: rotate(0); }
}

@-ms-keyframes rotate {
    from { -ms-transform: rotate(360deg); }
    to { -ms-transform: rotate(0); }
}

@-o-keyframes rotate {
    from { -o-transform: rotate(360deg); }
    to { -o-transform: rotate(0); }
}

@keyframes rotate {
    from { transform: rotate(360deg); }
    to { transform: rotate(0); }
}